/*
/*
Theme Name: Be.Simple
Theme URI: no
Description: no
Author: TaHUoP
Author URI: no
Tags: red
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
.
Wordpress Premium Theme
.
*/
#cancel-comment-reply-link {
     display: none;
}

.navigation {
     text-align: center;
     display: none;
}
.ajax {
     display: none;
}
.select2-container .select2-choice {
     width: 100% !important;
}

.s2_message a {
     color: #FFF;
}

img.centered {
     display: block;
     margin-left: auto;
     margin-right: auto;
     }

img.alignright {
     /*padding: 4px;*/
     margin: 0 0 2px 15px;
     display: inline;
     }

img.alignleft {
     /*padding: 4px;*/
     margin: 0 15px 2px 0;
     display: inline;
     }

.alignright {
     float: right;
     }

.alignleft {
     float: left;
     }

.titleBlock {
     background-color: #f7f7f7 !important;
}

.contentBox img {
     max-width: 100% !important;
}

@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext,cyrillic);

*{
     margin:0px; padding:0px;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
     /*font-family: 'Lato-Bold', sans-serif;*/
     font-family: 'Lato-Regular', sans-serif;
     
     font-weight: bold;
     line-height: 18px;
     outline:none;
    letter-spacing: 0.75px;
}
body{
     background-color: #f7f7f7;
}
html, body{height:100%; }
input, textarea, select, button{outline:none; }
form{position: relative; display: block; }
img{border:none; }




/* colors ---------------------------------------------------------------------------*/
.todayNews{background-color: #fafafa; }

.hat{background-color: #fff; }
.menu{background-color: #fff; }
.titleBlock{background-color: #363636; }

.newsletter{background-color: #d7171d; }
.recentPost{background-color: #fff; }
.recentComments{background-color: #fff; }
.categories{background-color: #fff; }
.subscribeFollow{background-color: #fff; }
.subscribeFollow ul{ list-style-type: none; min-width: auto;}
.subscribeFollow ul li{ display: inline; }
.subscribeFollow ul li img{ margin-left: 5px; margin-right: 5px; }
.instagram{background-color: #fff; }

.represent__butt{background-color: #d7171d; }
.represent__butt:hover{background-color: #fb3c42; }
.represent.represent--noFon .represent__butt{background-color: #fff; }
.represent.represent--noFon .represent__butt:hover{background-color: #eee; }

.contentBox{background-color: #fff; }
.eventsInfo{background-color: #fff; }
.leaveReply{background-color: #fff; }

.contentMenu ul a{background-color: #d7171d; }
.contentMenu ul a:hover{background-color: #fb3c42; }

.inputFooter-text{background-color: #636367; }
.inputFooter-submit{background-color: #d7171d; }
.inputFooter-submit:hover{background-color: #fb3c42; }

.boxBig-block{background-color: #fff; }
.boxLess-block{background-color: #fff; }

.contentBox-button{background-color: #d7171d; }
.contentBox-button:hover{background-color: #fb3c42; }

.boxBig-button{background-color: #d7171d; }
.boxBig-button:hover{background-color: #fb3c42; }

.boxLess-button{background-color: #d7171d; }
.boxLess-button:hover{background-color: #fb3c42; }

.morePosts-button{background-color: #d7171d;  cursor: pointer;}
.morePosts-button:hover{background-color: #fb3c42; }

.leaveReply__button input{background-color: #d7171d;}
.leaveReply__button input:hover{background-color: #fb3c42; }

.readMore-button{background-color: transparent; }
.readMore-button:hover{background-color: rgba(255,255,255,0.2); }

.titleBlock-fon,
.side-slider .titleBlock__container{background-color: #ed1c24; }

.inputNewsletter-submit{background-color: #fff; }
.inputNewsletter-submit:hover{background-color: #eee; }


.footer{background-color: #3c3d41; }
.footer-bottom{background-color: #4f5053; }







.total-container{
     position:relative;
     display:block; 
     min-width:1222px;
     min-height:100%; 
     overflow: hidden;
}
.hat, .menu, .titleBlock, .content, .footer{
     position:relative;
     display:block;
     min-width:1222px;
}
.hat__container,
.menu__container,
.content__container,
.footer__container{
     position:relative;
     display:block;
     width:1182px;
     margin:0px auto;
}





/* .todayNews -----------------------------------------------------------------------*/
.todayNews{
     min-height: 95px;
}
.todayNews__container{
     padding-top: 29px;
}

.todayNews-box{position: relative; display: table-cell; vertical-align: middle; width: 5000px; height: 35px; padding: 0px 30px 0px 30px; border-right: 1px solid #ddd; }
.todayNews-box:first-child{width: 3000px; border-right: 1px solid #910000; /*padding-left: 128px;*/ text-align: center; }
.todayNews-box:last-child{border-right: none; }

.todayNews-title{position: relative; display: inline-block; vertical-align: top; padding-top: 6px; font-size: 18px; color: #910000; text-transform: uppercase; }
.todayNews-category{position: relative; display: block; margin: -2px 0px 4px 0px; font-size: 10px; color: #910000; text-transform: uppercase; line-height: 12px; }
.todayNews-link{position: relative; display: block; line-height: 13px; }
.todayNews-link a{position: relative; font-size: 12px; text-transform: uppercase; color: #151515; text-decoration: none; line-height: inherit; }
.todayNews-link a:hover{text-decoration: underline; }




/* .hat -----------------------------------------------------------------------------*/
.hat-block{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: 100%; 
     min-height: 141px; 
     padding: 0px 20px; 
}


.logo{position: relative; display: inline-block; vertical-align: top; float: left; margin-top: 41px; }
.logo a{position: relative; display: inline-block; vertical-align: top; }
.logo img{position: relative; display: inline-block; vertical-align: top; }


.socialNetworks{position: relative; display: inline-block; vertical-align: top; float: right; margin: 52px 14px 0px 0px;}
.socialNetworks a{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     float: left; 
     margin-left: 8px; 
     width: 34px; 
     height: 34px; 
     /*background: url('images/social-networks.png') no-repeat;*/
}
.socialNetworks a:first-child{margin-left: 0px; }
.socialNetworks ul{display: table-row; }
.socialNetworks li{display: table-cell; }
.socialNetworks img{width: 34px;height: 34px; }

/*a.socialNetworks__fb{background-position: 0px -50px; }*/
/*a.socialNetworks__tw{background-position: -50px -50px; }*/
/*a.socialNetworks__pi{background-position: -100px -50px; }*/

/*a.socialNetworks__fb:hover{background-position: 0px -150px; }*/
/*a.socialNetworks__tw:hover{background-position: -50px -150px; }*/
/*a.socialNetworks__pi:hover{background-position: -100px -150px; }*/





/* .menu ---------------------------------------------------------------------------*/
.menu{z-index: 1; }
.menu-block{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: 100%; 
     padding: 0px 20px; 
}

.menu-block ul{position: relative; display: block; border-top: 1px solid #dbdbdb; }
.menu-block ul li{position: relative; display: inline-block; vertical-align: top; margin-right: 69px; }
.menu-block ul li:last-child{margin-right: 0px; }

.menu-block ul a{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     padding: 36px 0px 36px 0px;
     font-size: 14px; 
     color: #252525; 
     letter-spacing: 0.5px;
     text-decoration: none; 
     text-transform: uppercase;
}
.menu-block .linkArrow:after{
     position: relative;
     display: inline-block;
     vertical-align: top;
     content: '';
     margin: 6px 0px 0px 10px;
     width: 8px; 
     height: 4px;
     background: url('images/menu-arrow.png') no-repeat; 
}
.menu-block .linkArrow:before{
     position: absolute; 
     display: none;
     content: '';
     z-index: 1;
     bottom: -1px;
     left: 50%;
     margin-left: -26px;
     width: 34px; 
     height: 17px;
     background: url('images/menu-submenu-arrow.png')right no-repeat;
}


/* .submenu ---------------------------- */
.menu-block .submenu{
     position: absolute; 
     display: none;
     width: 289px;
     left: -40px;
     padding: 38px 0px 37px 0px;
     border: 1px solid #dbdbdb; 
     background-color: #fff; 
}
.menu-block .submenu li{
     display: block;
     margin: 33px 0px 0px 40px;
}
.menu-block .submenu li:first-child{
     margin: 0px 0px 0px 40px;
}
.menu-block .submenu a{
     font-family: 'Lato-Regular', sans-serif;
     padding: 0px!important;
}


/* .menu :HOVER ------------------------ */
.menu-block ul li:hover .submenu{
     display: block;
}
.menu-block ul li:hover .linkArrow:before{
     display: block;
}

.menu-block ul a:hover{
     text-decoration: underline;
}




/* .mobile-nav ------------------------- */
.mobile-nav{position: relative; display: none; vertical-align: top; margin: 20px 0px 0px 0px; padding: 0px 10px; width: 100%; height: 41px; background-color: #3C3D41; }
.mobile-nav__title{position: relative; display: inline-block; vertical-align: top; float: left; margin-top: 11px; font-size: 16px; color: #fff; }
.mobile-nav__butt{
     position: relative; 
     display: inline-block; 
     vertical-align: top;
     margin-top: 8px;
     float: right; 
     cursor: pointer;
     width: 30px; 
     border: 2px solid #fff;
    -webkit-border-radius: 4px;
     -khtml-border-radius: 4px;
	  -moz-border-radius: 4px;
		  border-radius: 4px;
}
.mobileNav-line{
     position: relative;
     display: block; 
     height: 2px;
     background-color: #fff;
     margin: 4px 4px;
}





/* .search ----------------------------- */
.search_header{position: absolute; top: 22px; right: 43px; }
.search__text{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: 273px; 
     height: 41px; 
     padding: 0px 20px; 
     border: 1px solid #dedddd; 
     background-color: #fff; 
     font-family: 'Lato-Regular', sans-serif;
     font-size: 14px; 
     color: #c0c6c7; 
}
.search__text::-webkit-input-placeholder{color:#c0c6c7; }
.search__text::-moz-placeholder{color:#c0c6c7; }
.search__text:-moz-placeholder{color:#c0c6c7; }
.search__text:-ms-input-placeholder{color:#c0c6c7; }

.search__button{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: 15px; 
     height: 15px; 
     margin: 14px 0px 0px 7px; 
     background: url('images/search.png') no-repeat; 
     cursor: pointer; 
     border: none; 
     background-color: transparent; 
     color: transparent; 
}



/* .titleBlock ---------------------------------------------------------------------*/
.titleBlock{overflow: hidden; }

.titleBlock__img{position: relative; display: inline-block; vertical-align: top; left: 50%; width: 10000px; margin-left: -5000px; text-align: center;  }
.titleBlock__img img{position: relative; display: inline-block; vertical-align: top; }


.slideBox{position: relative; display: block; }
.slideBox__cont{text-align: center; }
.slideBox__cont img{position: relative!important; display: inline-block!important; vertical-align: top!important; }


.slideBox .slick-dots{position: absolute; bottom: 47px; top: auto; left: 0px; width: 100%; height: 0px; z-index: 1; }
.slideBox .slick-dots li{position: relative; display: inline-block; vertical-align: top; }
.slideBox .slick-dots li button{
     position: relative; 
     display: block;
     margin: 0px 6px;
     width: 12px; 
     height: 12px;
     background-color: #fff;
     color: transparent;
     border: none;
     cursor: pointer;
    -webkit-border-radius: 1000px;
     -khtml-border-radius: 1000px;
	  -moz-border-radius: 1000px;
		  border-radius: 1000px;
}
.slideBox .slick-dots li.slick-active button{
     background-color: #d7171d;
}
.slideBox .slick-prev{display: none!important; }
.slideBox .slick-next{display: none!important; }




.titleBlock__container{position: absolute; top: 50%; left: 0px; width: 100%; height: 300px; margin-top: -150px; text-align: center; }
.titleBlock-cont{position: relative; display: inline-block; vertical-align: top; height: inherit; }
.titleBlock-box{position: relative; display: table-cell; vertical-align: middle; height: inherit; padding-bottom: 2px; text-align: center; padding: 0px 10px; }

.titleBlock-box h1, .titleBlock-box h2{
     position: relative; 
     display: block; 
     margin: 19px 0px 29px 0px;
     text-align: center; 
     font-weight: 700; 
     font-family: 'Lora-BoldItalic', sans-serif; 
     font-size: 22px; 
     line-height: 28px;
     letter-spacing: 1px;
     color: #fff; 
}

.titleBox-name {
     color: #FFF;
    font-size: 10px;
}
.titleBox-name a{text-decoration: none;position: relative; display: inline-block; text-align: center; font-size: 10px; color: #fff; text-transform: uppercase; }
.titleBox-name a:hover{text-decoration: underline;}
.titleBox-date{position: relative; display: block; text-align: center; font-size: 14px; color: #fff; text-transform: uppercase; }
.titleBox-text{position: relative; display: inline-block; vertical-align: top; margin-top: -10px; max-width: 268px; text-align: center; font-size: 14px; color: #fff; line-height: 21px; }

.readMore-button{
     position: relative; 
     display: block;
     margin: 30px auto 0px auto;
     padding: 7px 5px 0px 5px;
     width: 136px; 
     height: 36px; 
     font-size: 11px;
     color: #fff;
     letter-spacing: 1px;
     text-transform: uppercase;
     text-decoration: none;
     border: 2px solid #fff;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}


/* .side-slider ------------------------ */
.side-slider .titleBlock__container{
     position: absolute;
     top: 0px;
     left: 50%;
     width: 425px;
     height: 485px;
     margin: 0px 0px 0px 145px;
}
.titleBlock-fon{
     position: absolute;
     top: 0px; 
     left: 0px; 
     width: 5000px;
     height: 100%;
}
.side-slider .titleBlock__img{margin-left: -5212px; }
.side-slider .slick-dots{width: 425px; left: 50%; margin-left: 145px; text-align:center; }

















/* .content ------------------------------------------------------------------------*/
.content{}
.content__container{
     padding-bottom: 155px;
}


.content-cont{position: relative; display: inline-block; vertical-align: top; width: 100%; padding: 57px 20px 80px 20px; }

.content-left, 
.content-right,
.left-content,
.right-content,
.left-content-less,
.right-content-less{position: relative; display: inline-block; vertical-align: top; float: left;  /*background-color: #ccc; */ }

.content-left{width: 26%; padding-right: 50px; }
.content-right{width: 73.7%; }
.content-centre{position: relative; display: block; }

.left-content{width: 73.7%; }
.right-content{width: 26.3%; padding-left: 50px;  }

.left-content-less{width: 73.5%; }
.right-content-less{width: 24.5%; padding-left: 30px; }




.banner{position: relative; display: block; max-width: 250px; }
.banner a{position: relative; display: block; }
.banner img{position: relative; display: inline-block; vertical-align: top; width: 100%; }



/* .newsletter ------------------------- */
.newsletter{position: relative; display: block; margin-top: 30px; max-width: 250px; min-height: 369px; padding: 52px 0px 30px 0px; }
.newsletter__name{position: relative; display: block; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 23px; color: #fff; line-height: 28px; text-transform: uppercase; text-decoration: none; }
.newsletter__name:hover{text-decoration: underline; }


.newsletter__text{position: relative; display: block; margin: 20px 25px 28px 25px; color: #FFF; font-size: 13px; text-align: center;line-height: 24px; }
.newsletter__text p{position: relative; display: block; text-align: center; font-size: 13px; color: #fff; line-height: 24px; }

.newsletter__input{position: relative; display: block; padding: 0px 31px; }
.inputNewsletter-text, .inputNewsletter-submit{
     position: relative;
     display: block;
     width: 100%;
     height: 37px;
     border: none;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}
.inputNewsletter-text{
     margin-bottom: 11px;
     font-size: 11px;
     color: #f7f7f7;
     text-align: center;
     padding: 0px 10px;
     border: 2px solid #fff;
     background-color: transparent;
}
.inputNewsletter-text::-webkit-input-placeholder{color:#f7f7f7; }
.inputNewsletter-text::-moz-placeholder{color:#f7f7f7; }
.inputNewsletter-text:-moz-placeholder{color:#f7f7f7; }
.inputNewsletter-text:-ms-input-placeholder{color:#f7f7f7; }

.inputNewsletter-submit{
     font-size: 11px;
     color: #d7171d;
     text-transform: uppercase;
     text-align: center;
     padding: 0px 10px;
     cursor: pointer;
}




.blockInfo__title{position: relative; display: block; padding-bottom: 17px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 18px; color: #000; border-bottom: 1px solid #ddd; }





/* .recentPost ------------------------- */
.recentPost{position: relative; display: block; margin-top: 30px; max-width: 250px; padding: 16px 10px 15px 10px; }
.recentPost__cont{position: relative; display: block; padding-top: 9px; }

.recentPost-box{position: relative; display: block; padding: 10px 0px; border-top: 1px solid #ddd; }
.recentPost-box:first-child{border-top: none; }

.recentPost-img{position: relative; display: table-cell; vertical-align: top; }
.recentPost-img a{position: relative; display: inline-block; vertical-align: top; }
.recentPost-img img{position: relative; display: inline-block; vertical-align: top; width:91px; height: 71px;}

.recentPost-text{position: relative; display: table-cell; vertical-align: top; padding-left: 14px; }
.recentPost-link{position: relative; display: block; margin-top: -3px; line-height: 16px; }
.recentPost-link a{font-size: 13px; color: #000; text-transform: uppercase; text-decoration: none; line-height: inherit; }
.recentPost-link a:hover{text-decoration: underline; }
.recentPost-date{position: relative; display: block; margin-top: 2px; font-size: 12px; color: #717173; text-transform: uppercase; line-height: 14px; }




/* .recentComments --------------------- */
.recentComments{position: relative; display: block; margin-top: 30px; max-width: 250px; padding: 16px 10px 15px 10px;  }
.recentComments__cont{position: relative; display: block; padding-top: 9px; }

.recentComments-box{position: relative; display: block; padding: 9px 0px 8px 0px; border-top: 1px solid #ddd; }
.recentComments-box:first-child{border-top: none; }

.recentComments-link{position: relative; display: block; line-height: 16px;  }
.recentComments-link a{font-size: 13px; color: #000; text-transform: uppercase; text-decoration: none; line-height: inherit; }
.recentComments-link a:hover{text-decoration: underline; }

.recentComments-date{position: relative; display: block; margin-top: 2px; font-size: 12px; color: #717173; text-transform: uppercase; line-height: 14px; }




/* .categories ------------------------- */
.categories{position: relative; display: block; margin-top: 30px; max-width: 250px; padding: 16px 10px 15px 10px; }
.categories__cont{position: relative; display: block; padding-top: 10px; }

.categories-box{position: relative; display: block; padding: 10px 0px 8px 0px; border-top: 1px solid #ddd;}
.categories-box:first-child{border-top: none; }

.categories-link{position: relative; display: block; line-height: 16px;  }
.categories-link a{font-size: 13px; color: #000; text-transform: uppercase; text-decoration: none; line-height: inherit; }
.categories-link a:hover{text-decoration: underline; }

.categories-link span{position: relative; display: inline-block; vertical-align: top; margin-left: 3px; }




/* .subscribeFollow -------------------- */
.subscribeFollow{position: relative; display: block; margin-top: 30px; max-width: 250px; padding: 16px 10px 12px 10px; }
.subscribeFollow__cont{position: relative; display: block; padding-top: 20px; }

.socialNet-subscribe{position: relative; display: block; text-align: center; }
.socialNet-subscribe img{width:34px; height: 34px;}
.socialNet-subscribe a{position: relative; display: inline-block; vertical-align: top; width: 34px; height: 34px; margin: 0px 3px 10px 3px;/*background: url('images/social-networks.png') no-repeat; */}

/*a.socialNetSubscribe__fb{background-position: 0px 0px; }*/
/*a.socialNetSubscribe__tw{background-position: -50px 0px; }*/
/*a.socialNetSubscribe__gl{background-position: -100px 0px; }*/
/*a.socialNetSubscribe__in{background-position: -150px 0px; }*/
/*a.socialNetSubscribe__pi{background-position: -200px 0px; }*/

/*a.socialNetSubscribe__fb:hover{background-position: 0px -100px; }*/
/*a.socialNetSubscribe__tw:hover{background-position: -50px -100px; }*/
/*a.socialNetSubscribe__gl:hover{background-position: -100px -100px; }*/
/*a.socialNetSubscribe__in:hover{background-position: -150px -100px; }*/
/*a.socialNetSubscribe__pi:hover{background-position: -200px -100px; }*/




/* .instagram -------------------------- */
.instagram{position: relative; display: block; margin-top: 30px; max-width: 250px; padding: 16px 10px 26px 10px; }
.instagram__cont{position: relative; display: block; padding-top: 20px; }

.instagram-user{position: relative; display: block; margin: 15px 0px 0px 8px; }

.instagram-user__img{position: relative; display: table-cell; vertical-align: top; }
.instagram-user__img a{position: relative; display: inline-block; vertical-align: top; }
.instagram-user__img img{position: relative; display: inline-block; vertical-align: top; 
    -webkit-border-radius: 1000px;
     -khtml-border-radius: 1000px;
	  -moz-border-radius: 1000px;
		  border-radius: 1000px;
}
.instagram-user__cont{position: relative; display: table-cell; vertical-align: top; padding: 7px 0px 0px 11px; }
.instagram-name{position: relative; display: block; font-family: 'Lora-BoldItalic', sans-serif; font-size: 18px; color: #c0c6c7; text-decoration: none; }
.instagram-comment{position: relative; display: block; margin-top: 1px; font-size: 11px; color: #c0c6c7; }

.instagram__block{position: relative; display: block; text-align: center; margin-top: 47px; }
.instagram__block a{position: relative; display: inline-block; vertical-align: top; margin: 0px 4px 6px 4px; }




/* .represent -------------------------- */
.represent{position: relative; display: block; margin-top: 30px; max-width: 250px; min-height: 385px; padding: 64px 10px 25px 10px; overflow: hidden; }
.represent__fon{
     position: absolute; 
     top: 0px; 
     left: 0px; 
     height: 100%; 
     min-width: 250px; 
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.7s ease-in-out;
		  transition: all 0.7s ease-in-out;
}

.represent__category{position: relative; display: block; margin-bottom: 18px; text-align: center; font-size: 12px; color: #fff; text-transform: uppercase; }
.represent__title{position: relative; display: block; margin-bottom: 21px; padding: 0px 45px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 24px; color: #fff; line-height: 30px; }

.represent__text{position: relative; display: block; margin-bottom: 25px; }
.represent__text p{position: relative; display: block; text-align: center; font-size: 14px; color: #fff; line-height: 25px; }

.represent__butt{
     position: relative; 
     display: block;
     margin: 0px auto 0px auto;
     padding-top: 11px;
     width: 145px;
     height: 38px; 
     letter-spacing: 1px;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     font-size: 11px;
     color: #fff;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}

.represent:hover .represent__fon{
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}

.represent.represent--noFon{background-color: #d7171d; }
.represent.represent--noFon .represent__butt{color: #d7171d; }

.represent.represent--noFon{padding-top: 47px; }
.represent.represent--noFon .represent__category{margin-bottom: 35px; }






/* .contentBox ------------------------- */
.contentBox{position: relative; display: block; padding-bottom: 30px;/* padding-top: 25px;*/}

/*.contentBox img{margin-bottom: 29px; }*/
.contentBox > img{width: 100%; position: relative; display: inline-block; vertical-align: top; /*margin-bottom: 29px;*/ }
.picture-entireWidth{width: 100%; margin-bottom: 29px; }
.picture-left{float: left; margin: 7px 28px 30px 0px; }
.picture-right{float: right; margin: 7px 0px 30px 28px; }


.contentBox > p,
.contentBox > h1,
.contentBox > h2,
.contentBox > h3,
.contentBox > h4{padding-left: 60px; padding-right: 58px; }

.contentBox  p,
.contentBox  h1,
.contentBox  h2,
.contentBox  h3,
.contentBox  h4{padding-left: 60px; padding-right: 58px; }


.contentBox > blockquote{padding-left: 35px; padding-right: 35px; }
.contentBox > p > b{font-family: 'Lato-Black', sans-serif; }
.contentBox > p > a{color: #000; }
.contentBox > p > a:hover{text-decoration: none; }


.contentBox p{position: relative; display: block; /*margin-bottom: 25px; */  font-size: 14px; color: #000; line-height: 25px; }
.contentBox h1{position: relative; display: block; padding: 52px 52px 20px 60px; font-family: 'Lora-BoldItalic', sans-serif; font-size: 24px; color: #000; line-height: 28px; }
.contentBox h2{position: relative; display: block; padding: 52px 52px 20px 60px; font-family: 'Lora-BoldItalic', sans-serif; font-size: 21px; color: #000; line-height: 25px; }
.contentBox h3{position: relative; display: block; padding: 52px 52px 20px 60px; font-family: 'Lora-BoldItalic', sans-serif; font-size: 18px; color: #000; line-height: 22px; }
.contentBox h4{position: relative; display: block; padding: 52px 52px 20px 60px; font-size: 14px; color: #000; line-height: 22px; }

.contentBox p:first-child {padding-top: 60px;}
/*.contentBox h1:first-child {padding-top: 60px;}
.contentBox h2:first-child{padding-top: 60px;}
.contentBox h3:first-child{padding-top: 60px;}
.contentBox h4:first-child{padding-top: 60px;}*/


.contentBox h1 span{position: relative; display: block; line-height: 25px; font-family: 'Lora-BoldItalic', sans-serif; }
.contentBox h2 span{position: relative; display: block; line-height: 25px; font-family: 'Lora-BoldItalic', sans-serif; }
.contentBox h3 span{position: relative; display: block; line-height: 22px; font-family: 'Lora-BoldItalic', sans-serif; }
.contentBox h4 span{position: relative; display: block; line-height: 22px; }


.contentBox blockquote{position: relative; display: block; margin: 54px 0px 49px 0px; padding-top: 56px; text-align: center; text-transform: uppercase; font-family: 'Lora-BoldItalic', sans-serif; font-size: 21px; color: #000; line-height: 40px; background: url('images/quotes.png')top no-repeat;  }

.contentBox blockquote span{position: relative; display: block; line-height: 40px; font-family: 'Lora-BoldItalic', sans-serif; }


.contentBox > ul{position: relative; display: block; padding: 0px 58px 0px 81px; }
.contentBox > ul > li{position: relative; display: block; margin-bottom: 7px; font-size: 14px; color: #000; padding-left: 18px; background: url('images/round.png')0px 6px no-repeat; }

.contentBox > ol{position: relative; display: block; padding: 0px 58px 0px 99px; }
.contentBox > ol > li{position: relative; margin-bottom: 7px; font-size: 14px; color: #000; padding-left: 4px; }


.contentBox-name {color: #7d856e; display: block; text-align: center;}
.contentBox-name a{text-decoration: none; position: relative; display: inline-block; text-align: center; font-size: 10px; color: #7d856e; text-transform: uppercase; }
.contentBox-name a:hover {text-decoration: underline;}
.contentBox-date{position: relative; display: block; margin-bottom: 22px; text-align: center; font-size: 11px; color: #000; text-transform: uppercase; }

.contentBox-button{
     position: relative;
     display: block;
     margin: 40px auto 0px auto;
     padding: 11px 5px 0px 5px;
     width: 202px;
     height: 38px;
     font-size: 11px;
     color: #fff;
     letter-spacing: 1px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}




/* .relatedPost ------------------------ */
.relatedPost{position: relative; display: inline-block; vertical-align: top; width: 100%; margin: 11px 0px 36px 0px; padding: 0px 46px; }
.relatedPost-cont{position: relative; display: block; float: left; width: 33.33%; padding: 0px 10px; text-align: center; }

.relatedPost-box{position: relative; display: inline-block; vertical-align: top; max-width: 320px; text-align: left; }
.relatedPost-img{position: relative; display: block; margin-bottom: 18px; overflow: hidden; }
.relatedPost-box img{
     position: relative; 
     display: inline-block;
    height: auto;
     vertical-align: top; 
     width: 100%; 
     margin-bottom: 0px!important; 
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}
.relatedPost-box h3{margin: 15px 0px 14px 0px; }
.relatedPost-link{position: relative; font-family: 'Lora-BoldItalic', sans-serif; font-size: 18px; color: #000; line-height: 22px; text-decoration: none; }
.relatedPost-link:hover{text-decoration: underline; }
.relatedPost-box p{margin-top: 14px; }

.relatedPost-cont:hover .relatedPost-box img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}





/* .contentMenu ------------------------ */
.contentMenu{position: relative; display: inline-block; vertical-align: top; width: 100%; margin-top: 16px; padding-right: 59px; text-align: right; }
.contentMenu ul{position: relative; display: inline-block; vertical-align: top; text-align: center; }
.contentMenu ul li{position: relative; display: inline-block; vertical-align: top; float: left; margin-left: 3px; }
.contentMenu ul a{position: relative; display: inline-block; vertical-align: top; min-width: 85px; min-height: 28px; padding: 5px 5px 0px 5px; font-size: 12px; color: #fff; text-decoration: none; }




/* .infoMenu --------------------------- */
.infoMenu{position: relative; display: table; width: 100%; margin: 91px 0px 0px 0px; }
.infoMenu ul{position: relative; display: table-row; }
.infoMenu ul li{position: relative; display: table-cell; vertical-align: middle; width: 33.33%; height: 33px; text-align: center; border-left: 1px solid #dcdcdc; }
.infoMenu ul li:first-child{border-left: none; }
.infoMenu ul li > a{position: relative; display: inline-block; vertical-align: top; font-size: 14px; color: #000; text-decoration: none; }
.infoMenu ul li a:hover{text-decoration: underline; }
.infoMenu img{margin-bottom: 0px; }




/* .socialNet-info --------------------- */
.socialNet-info{position: relative; display: inline-block; vertical-align: top; }
.socialNet-info a{position: relative; display: inline-block; vertical-align: top; margin-left: 5px;/*background: url('images/social-networks.png') no-repeat; */}
.socialNet-info ul li{ border-left: none; }
.socialNet-info img{ width: 20px; height: 20px; /* margin-left: 5px; margin-right: 5px;*/ }
.socialNet-info a:first-child{margin-left: 0px; }


/*a.socialNetInfo__fb{width: 8px; height: 16px; top: 1px; background-position: -250px 0px; }*/
/*a.socialNetInfo__tw{width: 16px; height: 13px; top: 3px; margin-left: 14px; background-position: -300px 0px; }*/
/*a.socialNetInfo__gl{width: 17px; height: 18px; margin-left: 11px; background-position: -350px 0px; }*/
/*a.socialNetInfo__pi{width: 17px; height: 17px; margin-left: 10px; background-position: -400px 0px; }*/

/*a.socialNetInfo__fb:hover{background-position: -250px -100px; }*/
/*a.socialNetInfo__tw:hover{background-position: -299px -100px; }*/
/*a.socialNetInfo__gl:hover{background-position: -350px -100px; }*/
/*a.socialNetInfo__pi:hover{background-position: -400px -100px; }*/




/* .events ----------------------------- */
.events{position: relative; display: block; padding: 0px 5px; }
.events__separator{position: relative; display: block; height: 1px; background-color: #dbdbdb; /*margin: 0px 15px 59px 15px;*/ }

.events__cont{position: relative; display: inline-block; vertical-align: top; width: 100%; margin-top: 28px; }


.eventsBox{position: relative; display: inline-block; vertical-align: top; float: left; width: 33.33%; padding: 0px 15px; text-align: center; /* border: 1px solid red;*/ margin-top: 25px;
  }
.eventsBox--info{width: 50%; }
.eventsBox--block{width: 25%; }


.eventsInfo{position: relative; display: block; min-height: 382px; padding: 70px 72px 20px 72px; }
.eventsInfo-category {color: #7d856e;}
.eventsInfo-category a{position: relative; display: inline-block; text-decoration: none; margin-bottom: 9px; text-align: center; font-size: 10px; color: #7d856e; text-transform: uppercase; }
.eventsInfo-category a:hover {text-decoration: underline;}
.eventsInfo-name{position: relative; display: block; margin-bottom: 15px; text-align: center;  }
.eventsInfo-name a{position: relative; font-family: 'Lora-BoldItalic', sans-serif; font-size: 24px; line-height: 30px; color: #000; text-transform: uppercase; text-decoration: none; }
.eventsInfo-name a:hover{text-decoration: underline; }
.eventsInfo-date{position: relative; display: block; margin-bottom: 23px; text-align: center; font-size: 11px; text-transform: uppercase; color: #000; }

.eventsInfo-text{position: relative; display: block; text-align: center; }
.eventsInfo-text p{position: relative; display: block; font-size: 14px; color: #b4b4b4; line-height: 25px; }


.eventsBlock{position: relative; display: inline-block; vertical-align: top; max-width: 263px; min-height: 382px; background-color: #ed1e24; }
.eventsBlock__img{position: relative; display: block; }
.eventsBlock__img a{position: relative; display: block; overflow: hidden; }
.eventsBlock__img img{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: auto; 
     height: 230px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
}

.eventsBlock__cont{position: relative; display: block; padding: 23px 10px 25px 10px; }
.eventsBlock-category {
     color: #FFF;
}
.eventsBlock-category a{position: relative; display: inline-block; margin-bottom: 8px; text-align: center; font-size: 10px; color: #fff; text-transform: uppercase; }
.eventsBlock-name{position: relative; display: block; margin-bottom: 9px; text-align: center; }
.eventsBlock-name a{position: relative; font-family: 'Lora-BoldItalic', sans-serif; font-size: 13px; color: #fff; text-transform: uppercase; text-decoration: none;}
.eventsBlock-name a:hover{text-decoration: underline; }
.eventsBlock-date{position: relative; display: block; text-align: center; font-size: 11px; color: #fff; text-transform: uppercase; }

.eventsBlock:hover .eventsBlock__img img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}



/* .leaveReply  ------------------------ */
.leaveReply{position: relative; display: block; margin-top: 30px; padding: 48px 55px 24px 56px; }
.leaveReply__title{position: relative; display: block; margin-bottom: 58px; padding: 0px 4px; font-size: 14px; color: #000; }

.leaveReply__cont{position: relative; display: block; }
.leaveReply-input{position: relative; display: block; }
.leaveReply-inputBox{position: relative; display: table-cell; vertical-align: top; width: 500px; padding: 0px 4px; }
.leaveReply-inputBox input{
     position: relative;
     display: block;
     width: 100%;
     height: 39px;
     padding: 0px 20px;
     border: 1px solid #dcdcdc;
     font-size: 14px;
     color: #000;
}

.leaveReply-comment{position: relative; display: block; margin-top: 19px; margin-bottom: 19px; padding: 0px 4px; }
.leaveReply-comment textarea{
     position: relative;
     display: block;
     width: 100%;
     height: 39px;
     min-height: 136px;
     max-width: 100%;
     padding: 17px 20px;
     border: 1px solid #dcdcdc;
     font-size: 14px;
     color: #000;
}

.leaveReply-inputBox input::-webkit-input-placeholder{color:#000; }
.leaveReply-inputBox input::-moz-placeholder{color:#000; }
.leaveReply-inputBox input:-moz-placeholder{color:#000; }
.leaveReply-inputBox input:-ms-input-placeholder{color:#000; }

.leaveReply-comment textarea::-webkit-input-placeholder{color:#000; }
.leaveReply-comment textarea::-moz-placeholder{color:#000; }
.leaveReply-comment textarea:-moz-placeholder{color:#000; }
.leaveReply-comment textarea:-ms-input-placeholder{color:#000; }

.leaveReply__button{position: relative; display: block; text-align: right; margin-top: 21px; padding: 0px 4px; }
.leaveReply__button input{
     position: relative;
     display: inline-block;
     vertical-align: top;
     text-align: center;
     width: 247px;
     height: 37px !important;
     border: none;
     cursor: pointer;
     font-size: 14px;
     color: #fff;
}




/* .textSeparator ---------------------- */
.textSeparator-line{position: relative; display: block; height: 1px; margin-bottom: 10px; margin-left: 60px; margin-right: 55px; background-color: #dbdbdb; }
.textSeparator-dashed{position: relative; display: block; height: 1px; margin-bottom: 10px; margin-left: 60px; margin-right: 55px; background: url('images/border-dashed.png')top repeat-x; }
.textSeparator-dotted{position: relative; display: block; height: 1px; margin-bottom: 10px; margin-left: 60px; margin-right: 55px; background: url('images/border-dotted.png')top repeat-x; }

.textSeparator-empty{position: relative; display: block; height: 30px; margin-left: 60px; margin-right: 55px; }






/* .boxBig ----------------------------- */
.boxBig{position: relative; display: inline-block; vertical-align: top; width: 100%; margin-top: 60px; }
.boxBig__cont{position: relative; display: block; float: left; width: 50%; margin-bottom: 60px; }
.boxBig__cont:nth-child(2n+1){padding-right: 10px; }
.boxBig__cont:nth-child(2n+0){padding-left: 10px; text-align: right; }

.boxBig-block{position: relative; display: inline-block; vertical-align: top; max-width: 400px; min-height: 713px; padding-bottom: 170px; text-align: left; }

.boxBig-img{position: relative; display: block; margin-bottom: 37px; overflow: hidden; }
.boxBig-img a{position: relative; display: inline-block; vertical-align: top; }
.boxBig-img img{
     position: relative; 
     display: inline-block; 
     vertical-align: top; 
     width: 100%; 
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
            height: auto;

}
.boxBig-category{text-align: center; display: block; text-align: center;}
.boxBig-cont{position: relative; display: block; padding: 0px 19px; }
.boxBig-category a{text-align: center; text-decoration: none;position: relative; display: inline-block; margin-bottom: 7px; text-align: center; font-size: 10px; color: #7d856e; text-transform: uppercase; }
.boxBig-category a:hover {text-decoration: underline;}
.boxBig-title a{ text-decoration: none; position: relative; display: block; margin-bottom: 13px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 24px; color: #000; letter-spacing: 2px; line-height: 30px; } 
.boxBig-title a:hover {text-decoration: underline;}
.boxBig-date{position: relative; display: block; text-align: center; font-size: 11px; color: #000; text-transform: uppercase; }

.boxBig-text{position: relative; display: block; margin-top: 24px; }
.boxBig-text p{position: relative; display: block; font-size: 14px; color: #000; line-height: 25px; }

.boxBig-button{
     position: absolute;
     left: 50%;
     margin-left: -101px;
     bottom: 95px;
     padding: 11px 5px 0px 5px;
     width: 202px;
     height: 38px;
     font-size: 11px;
     color: #fff;
     letter-spacing: 1px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}


.boxBig .infoMenu{position: absolute; bottom: 10px; left: 0px; margin: 0px; }
.boxBig .infoMenu ul li{width: 50%; height: 34px; }

.boxBig-block:hover .boxBig-img img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2); 
}




/* .boxLess ---------------------------- */
/*.boxLess{position: relative; display: inline-block; vertical-align: top; width: 100%; margin-bottom: 30px; }*/
.boxLess{position: relative; display: block; margin-bottom: 30px; }
.boxLess__cont{position: relative; display: block; float: left; width: 33.33%; margin-bottom: 28px; padding: 0px 5px; text-align: center; }

/*
.boxLess__cont:nth-child(3n+1){padding-right: 5px; text-align: left; }
.boxLess__cont:nth-child(3n+2){padding: 0px 5px; text-align: center; }
.boxLess__cont:nth-child(3n+3){padding-left: 5px; text-align: right; border: 1px solid red; }
*/

.boxLess-block{position: relative; display: inline-block; vertical-align: top; max-width: 360px; min-height: 620px; padding-bottom: 140px; text-align: left; }

.boxLess-img{position: relative; display: block; margin-bottom: 32px; overflow: hidden; }
.boxLess-img a{position: relative; display: inline-block; vertical-align: top; }
.boxLess-img img{
     position: relative; 
     display: inline-block;
    height: auto;
     vertical-align: top; 
     width: 100%; 
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;

}

.boxLess-cont{position: relative; display: block; padding: 0px 19px; }
.boxLess-category{position: relative; display: block; margin-bottom: 5px; text-align: center; font-size: 9px; color: #7d856e; text-transform: uppercase; }
.boxLess-category a{color: #7d856e;  text-decoration: none;}
.boxLess-category a:hover{color: #7d856e;  text-decoration: underline;}
.boxLess-title{position: relative; display: block; margin-bottom: 10px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 21px; color: #000; letter-spacing: 2px; line-height: 26px; }
.boxLess-title a{position: relative; display: block; margin-bottom: 10px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 21px; color: #000; letter-spacing: 2px; line-height: 26px; text-decoration: none;}
.boxLess-title a:hover{text-decoration: underline;}
.boxLess-date{position: relative; display: block; text-align: center; font-size: 10px; color: #000; text-transform: uppercase; }

.boxLess-text{position: relative; display: block; margin-top: 21px; }
.boxLess-text p{position: relative; display: block; font-size: 12px; color: #000; line-height: 22px; }

.boxLess-button{
     position: absolute;
     left: 50%;
     margin-left: -88px;
     bottom: 84px;
     padding: 7px 5px 0px 5px;
     width: 176px;
     height: 33px;
     font-size: 10px;
     color: #fff;
     letter-spacing: 1px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}


.boxLess .infoMenu{position: absolute; bottom: 9px; left: 0px; margin: 0px; }
.boxLess .infoMenu ul li{width: 50%; height: 30px; }
.boxLess .infoMenu ul a{font-size: 12px; }

.boxLess-block:hover .boxLess-img img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2); 
}

.boxLess form {display: none;}



/* .morePosts-cont --------------------- */
.morePosts-cont{position: relative; display: block; text-align: center; clear: both; margin-top: 100px;}
.morePosts-button{
     position: relative;
     display: inline-block;
     vertical-align: top;
     min-width: 163px;
     height: 45px;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     font-size: 14px;
     color: #fff;
     padding: 14px 5px 0px 5px;
     /*margin-top: 20px;*/
}

.popularPosts-text{position: relative; display: block; margin: 0px 0px 73px 0px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 34px; color: #000; line-height: 40px; }

.nothingFound-text{position: relative; display: block; margin: 0px 0px 73px 0px; text-align: center; font-family: 'Lora-BoldItalic', sans-serif; font-size: 34px; color: #000; line-height: 40px; }




/* .contentBox .removeIndent ----------- */
.contentBox .removeIndent{margin-bottom: 54px; }
.contentBox .removeIndent-2{margin-bottom: 4px; }
.contentBox .removeIndent-3{margin-top: 46px; }
.contentBox .removeIndent-4{margin-bottom: 51px; }

.contentBox .removeIndent-5{margin: 27px 0px 0px 0px; }
.contentBox .removeIndent-6{margin-bottom: 36px; }


.contentBox .text-centre{margin: 28px 0px 0px 0px;  text-align: center; }
.contentBox .text-centre-2{margin: 0 0px 15px 0px;  text-align: center; }


.contentMenu-indent{margin-top: 12px; }
.infoMenu-indent{margin-top: 70px; }
.infoMenu-compress{padding-left: 150px; padding-right: 150px; }








/* .footer -------------------------------------------------------------------------*/
.hFooter{height: 357px;}
.footer{
     height: 357px; 
     margin-top: -357px; 
     padding-bottom: 68px;
}

.footer-top{position: relative; display: block; }
.footer-bottom{position:absolute; bottom: 0px; left: 0px; width: 100%; }

.footer-top .footer__container{padding-top: 83px; }
.footer-bottom .footer__container{height: 65px; }



.footerBox{position: relative; display: table-cell; vertical-align: top; }
.footerBox:nth-child(1){width: 277px; }
.footerBox:nth-child(2){width: 232px; }
.footerBox:nth-child(3){width: 264px; }
.footerBox:nth-child(4){width: 190px; }


.logoFooter{position: relative; display: block; padding-top: 6px; margin-bottom: 26px; }
.logoFooter a{position: relative; display: inline-block; vertical-align: top; }
.logoFooter img{position: relative; display: inline-block; vertical-align: top; }

.infoFooter{position: relative; display: block; }
.infoFooter span{position: relative; display: block; font-size: 15px; color: #999; line-height: 24px; }


.menuFooter{position: relative; display: block; }
.menuFooter li{position: relative; display: block; margin-bottom: 8px; }
.menuFooter li a{position: relative; display: inline-block; vertical-align: top; font-size: 15px; color: #f7f7f7; text-decoration: none; }
.menuFooter li a:hover{text-decoration: underline; }


.titleFooter{position: relative; display: block; padding-top: 4px; margin-bottom: 13px; text-transform: uppercase; font-size: 15px; color: #f7f7f7; }



/* .socialNet-footer ------------------- */
.socialNet-footer{position: relative; display: block; /*padding-left: 23px;*/ }
.socialNet-footer li{position: relative; display: block; margin-bottom: 8px; }
.socialNet-footer a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; font-size: 15px; color: #f7f7f7; }
.socialNet-footer a:hover{text-decoration: underline; }
/*.socialNet-footer a:before{*/
     /*position: absolute; top: 3px; left: -23px; width: 23px; height: 20px;*/
     /*content: '';*/
     /*/!*background: url('images/social-networks.png') no-repeat;  *!/*/
/*}*/
a.socialNet__fb:before{height: 16px; top: 1px; background-position: -248px -50px; }
a.socialNet__tw:before{height: 13px; top: 3px; background-position: -300px -50px; }
a.socialNet__in:before{height: 13px; top: 3px; background-position: -449px -50px; }



/* .inputFooter ------------------------ */
.inputFooter{position: relative; display: block; width: 218px;  margin-top: 15px; }
.inputFooter-text, .inputFooter-submit{
     position: relative; 
     display: block;
     width: 100%;
     height: 38px;
     border: none;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
}
.inputFooter-text{
     margin-bottom: 5px;
     font-size: 11px;
     color: #bcbcbd;
     padding: 0px 11px;
}
.inputFooter-text::-webkit-input-placeholder{color:#bcbcbd; }
.inputFooter-text::-moz-placeholder{color:#bcbcbd; }
.inputFooter-text:-moz-placeholder{color:#bcbcbd; }
.inputFooter-text:-ms-input-placeholder{color:#bcbcbd; }

.inputFooter-submit{
     cursor: pointer;
     text-align: center;
     font-size: 11px; 
     color: #fff;
     text-transform: uppercase;
}



/* .menuFooter-bottom ------------------ */
.menuFooter-bottom{position: relative; float: left; margin-top: 24px; }
.menuFooter-bottom li{position: relative; display: inline-block; vertical-align: top; margin-right: 20px; }
.menuFooter-bottom li:last-child{margin-right: 0px; }
.menuFooter-bottom li a{position: relative; display: inline-block; vertical-align: top; text-decoration: none; color: #f7f7f7; font-size: 15px; }
.menuFooter-bottom li b{font-family: 'Lato-Black', sans-serif; }

.infoFooter-bottom{position: relative; float: right; margin-top: 24px; color: #f7f7f7; font-size: 15px; }










/* @media --------------------------------------------------------------------------*/
@media screen and (max-width: 1222px) {
     
     html, body{-webkit-text-size-adjust: none; }

     .total-container{
          min-width:inherit;
     }
     .hat, .menu, .titleBlock, .content, .footer{
          min-width:inherit;
     }
     .hat__container,
     .menu__container,
     .content__container,
     .footer__container{
          width:auto;
          padding-left: 20px;
          padding-right: 20px;
     }
     
     
     .contentBox > p,
     .contentBox > h1,
     .contentBox > h2,
     .contentBox > h3,
     .contentBox > h4{padding-left: 30px; padding-right: 30px; }

     .contentBox > blockquote{padding-left: 30px; padding-right: 30px; }
     
     .leaveReply{padding: 30px 30px 24px 30px; }
     .leaveReply__title{margin-bottom: 30px; }
     
     .textSeparator-line, .textSeparator-dashed, .textSeparator-dotted, .textSeparator-empty{
          margin-left: 30px; margin-right: 30px; 
     }
     
     .contentMenu{padding-right: 30px; }
     
     .relatedPost{margin: 11px 0px 10px 0px; padding: 0px 20px; }
     .relatedPost-box h3{margin: 0px 0px 14px 0px; }
     .infoMenu-compress{padding-left: 0px; padding-right: 0px; }

     .side-slider .titleBlock__container{left: auto; right: 0px; margin: 0px; }
     .titleBlock-fon{display: none; }
     .side-slider .slick-dots{left: auto; right: 0px; margin-left: 0px; }  
     
}

@media screen and (max-width: 1150px) {
     
     .todayNews-box{ padding: 0px 15px 0px 15px; }
     
     
     .hat-block{padding: 0px 0px; }
     .socialNetworks{margin-right: 0px; }
     
     .menu-block{padding: 0px 0px; }
     .menu-block ul li{margin-right: 40px; }
     
     .search_header{right: 0px; }
     
     
     .content-left{width: 24.5%; padding-right: 30px; }
     .content-right{width: 75.5%; }
     
     .left-content{width: 75.5%; }
     .right-content{width: 24.5%; padding-left: 30px;  }
     
     .left-content-less{width: 75.5%; }
     .right-content-less{width: 24.5%; padding-left: 30px; }
 
     
     .recentPost-img img{width: 70px; height: auto;}
     
     .recentPost-text{padding-left: 8px; }
     .recentPost-link{margin-top: -3px; line-height: 14px; }
     .recentPost-link a{font-size: 12px; }
     .recentPost-date{font-size: 10px; margin-top: 0px; }
     
     
     .recentComments-link{line-height: 14px; }
     .recentComments-link a{font-size: 12px; }
     .recentComments-date{font-size: 10px; margin-top: 0px; }
     

     .categories-link{line-height: 14px; }
     .categories-link a{font-size: 12px; }
     
     .represent__title{margin-bottom: 21px; padding: 0px 0px; font-size: 22px; line-height: 28px; }
     
     
     .instagram{min-height: inherit; padding-bottom: 15px; }
     .instagram-user__img{display: block; text-align: center; }
     .instagram-user__cont{display: block; padding: 20px 0px 0px 0px; text-align: center; }
     .instagram__block{margin-top: 30px; }
      
}

@media screen and (max-width: 1050px) {
     
     .menu-block ul li{margin-right: 30px; }
     .search__text{width: 200px; }
    
     .eventsInfo{padding: 40px 30px 20px 30px; }
     
     
     .newsletter{min-height: inherit; padding: 30px 0px 30px 0px; }
     .newsletter__name{font-size: 20px; line-height: 25px; }
     .newsletter__text{margin: 20px 10px 20px 10px; }
     .newsletter__text p{font-size: 13px; line-height: 22px; }
     .newsletter__input{padding: 0px 10px; }
     
     
     .recentPost-img img{width: 60px;height: auto; }   
}

@media screen and (max-width: 920px) {
     
     .content__container{
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 80px;
     }
     
     .todayNews-title{font-size: 14px; padding-top: 10px; }
     .todayNews-category{margin: 0px 0px 4px 0px; font-size: 10px; line-height: 11px; }
     .todayNews-link{line-height: 10px; }
     .todayNews-link a{font-size:12px; font-family:'Lato', sans-serif; font-weight:normal;}
     
     
     .content-left{width: 30%; padding-right: 30px; }
     .content-right{width: 70%; }
     
     .left-content{width: 70%; }
     .right-content{width: 30%; padding-left: 30px;  }
     
     .left-content-less{width: 70%; }
     .right-content-less{width: 30%; padding-left: 30px; }
     

     .content-cont{padding: 40px 20px 50px 20px; }
     .picture-left{max-width: 250px; }
     .picture-right{max-width: 250px;  }
     
     
     .eventsBox--info{display: block; padding-top: 28px; float: none; width: 100%; clear: both; }
     .eventsBox--block{width: 50%; }
     
     .eventsInfo{min-height:inherit; padding: 40px 20px 30px 20px; }
     .eventsBlock{max-width: none; width: 100%; }  
}

@media screen and (max-width: 880px) {
     
     .menu-block ul{padding-top: 62px;  }

     .search_header{left: 0px; right: auto; width: 100%; padding-right: 30px; }
     .search__text{width: 100%; }
     .search__button{position: absolute; top: 14px; right: -30px; margin: 0px; }
}

@media screen and (max-width: 850px) {
 
     .hFooter{height: 910px;}
     .footer{
          height: 910px; 
          margin-top: -910px; 
          padding-bottom: 910px;
     }
     .footer__container{
           padding-left: 10px;
           padding-right: 10px;
      }

     .footer-top .footer__container{padding-top: 30px; }
     .footer-bottom .footer__container{height: 150px; }
     .footerBox{position: relative; display: block; width: 100%!important; margin-bottom: 30px; }

     .menuFooter-bottom{display: block; float: none; margin-top: 24px; margin-bottom: 30px; }
     .menuFooter-bottom li{display: block; margin-right: 0px; margin-bottom: 10px; }
     .infoFooter-bottom{float: none; margin-top: 0px; }
 
}

@media screen and (max-width: 768px) {
     .contacts-about,.contacts-form {
          padding-left: 10px !important;
          padding-right: 10px !important;
     }
     .morePosts-cont {
          margin-top: 100px;
     }

     .menu__container{
          padding-left: 0px;
          padding-right: 0px;
     }
      .content__container{
          padding-bottom: 40px;
     }
     
     .todayNews{min-height: inherit; }
     .todayNews__container{display: none; padding: 1px 20px 40px 20px; }
     .todayNews-box{display: block; padding: 20px 0px 0px 0px; width: 100%; height: auto; border-right: none; text-align:center; }
	 .todayNews-box:first-child{width: 100%; border-right: none; border-bottom: 1px solid #dedddd; }
	 .todayNews__container .todayNews-box:first-child{border-bottom: none; }
     .todayNews-box:last-child{border-right: none; }
     .todayNews-title{margin-bottom: 28px; cursor: pointer; }
	 .todayNews-title:before {content:"❯❯ ";padding-right:5px;}
	 .todayNews-title:after {content:" ❯❯";padding-left:5px;}

     
     .slideBox, .titleBlock__img{height: 350px; }
     .titleBlock__img img{height: 100%; }
     .titleBlock-box h1, .titleBlock-box h2{margin: 10px 0px 20px 0px; }
     .readMore-button{margin: 10px auto 0px auto; }
     
     .slideBox .slick-dots{bottom: 30px; }
     
     
     
     .side-slider .titleBlock__container{width: 100%; height: 350px; }
     .side-slider .slick-dots{width: 100%; }
     
     
     
     .mobile-nav{display: inline-block; }
     
     .menu-block{display: block; padding: 0px; }
     .menu-block ul{display: none; border-top: none; padding-top: 0px; }
     .menu-block ul li{display: block; margin-right: 0px; }
     .menu-block ul li:last-child{margin-right: 0px; }
     .menu-block ul a{display: block; padding: 20px 0px 20px 10px; }
     .menu-block .linkArrow:after{float: right; margin-right: 11px; }
     .menu-block .linkArrow:before{display: none!important;  }

     .menu-block .submenu{
          position: relative;
          display: none; 
          width: 100%;
          left: 0px;
          padding: 15px 0px 15px 0px;
          border: none;
          background-color: #FAFAFA; 
     }
     .menu-block .submenu li{margin: 0px 0px 0px 20px; }
     .menu-block .submenu li:first-child{margin: 0px 0px 0px 20px; }
     .menu-block .submenu a{padding: 20px 0px!important; }
     .menu-block ul li:hover a{background-color:#FAFAFA; }
     .menu-block ul li:hover .submenu{display: none; }
    
     .menu-block .submenu a:hover{
          text-decoration: none;
          font-family: 'Lora-Bold', sans-serif;
          
     }


     .search_header{padding-right: 40px; padding-left: 10px; }
     .eventsInfo-name a{font-size: 20px; line-height: 28px; }
     
     

     .banner{max-width: none; }
     .newsletter{max-width: none; }
     .recentPost{max-width: none; }
     .recentComments{max-width: none; }
     .categories{max-width: none; }
     .subscribeFollow{max-width: none; }
     .instagram{max-width: none; }
     
     .represent{max-width: none; min-height: inherit; }
     .represent__fon{
          width: 100%;
          height: auto;
          min-width: none; 
     }

     
 
     .content-left{display: block; width: 100%; float: none; padding-right: 0px; }
     .content-right{display: block; width: 100%; float: none; margin-bottom: 30px; }
     
     .left-content{display: block; width: 100%; float: none; margin-bottom: 30px; }
     .right-content{display: block; width: 100%; float: none; padding-left: 0px;  }
     
     .left-content-less{display: block; width: 100%; float: none; margin-bottom: 30px; }
     .right-content-less{display: block; width: 100%; float: none; padding-left: 0px; }
     


     .picture-left{max-width: none; width: 100%; }
     .picture-right{max-width: none; width: 100%; }
     
     
     /*.contentBox img{margin-bottom: 20px; }*/
     /*.contentBox > img{margin-bottom: 20px; }*/
     .picture-entireWidth{margin-bottom: 20px; }
     .picture-left{margin-bottom: 20px; }
     .picture-right{margin-bottom: 20px; }
     
     .contentBox > p,
     .contentBox > h1,
     .contentBox > h2,
     .contentBox > h3,
     .contentBox > h4{padding-left: 10px; padding-right: 10px; }
     .contentBox > blockquote{padding-left: 10px; padding-right: 10px; }
     
     
     
     .leaveReply{padding: 30px 10px 24px 10px; }
     .leaveReply__title{margin-bottom: 30px; padding: 0px; }
     .leaveReply-inputBox{display: block; width: 100%; padding: 0px; margin-bottom: 10px; }
     .leaveReply-comment{margin-top: 0px; padding: 0px; }
     .leaveReply__button{padding: 0px; text-align: center; }

     
     .textSeparator-line, .textSeparator-dashed, .textSeparator-dotted, .textSeparator-empty{
          margin-left: 10px; margin-right: 10px; 
     }
     
     .content-cont{padding: 40px 10px 30px 10px; }
     .eventsBox{padding-left: 5px; padding-right: 5px; }
     
     .events__separator{/*margin: 0px 5px 0px 5px; */}
    
     .contentMenu{padding-right: 10px; }
    
     .popularPosts-text{margin: 0px 0px 30px 0px; font-size: 22px; line-height: 28px; }
    
     .boxBig{margin-top: 30px; }
     .boxBig__cont{margin-bottom: 30px; }
     
     .boxLess__cont{width: 50%; }
     .relatedPost{display: block; margin: 10px 0px 0px 0px; padding: 0px 10px; }
     .relatedPost-cont{float: none; width: 100%; padding: 0px; margin-bottom: 30px; text-align: center; }
     .relatedPost-box{display: block; max-width: none; }
     .relatedPost-box h3{margin: 0px; }
     .relatedPost-box p{margin-top: 5px; }

     .todayNews-box {
          border-right: none !important;
     }

     .content-left {
          float: none !important;
          padding: 0 !important;
     }
}

@media screen and (max-width: 600px) {
     .eventsBlock__img img {
          height: 270px;
     }
     .eventsBox--info{padding-top: 0px; }
     .eventsBox--block{display: block; margin-bottom: 28px; float: none; width: 100%; }
     
     .eventsInfo{min-height:inherit; padding: 40px 20px 30px 20px; }
     .eventsBlock{max-width: none; width: 100%; min-height: inherit; }
     

     .contentBox .contentMenu{display: block; margin-top: 40px; }
     .contentBox .contentMenu ul{display: block; }
     .contentBox .contentMenu ul li{float: none; margin-bottom: 6px; }
     
     .contentBox .infoMenu{display: block; margin: 40px 0px 0px 0px; }
     .contentBox .infoMenu ul{display: block; }
     .contentBox .infoMenu ul li{display: block; width: 100%; height: auto; margin-top: 20px; border-left: none; }
     
  
     .boxBig__cont{float: none; width: 100%; }
     .boxBig__cont:nth-child(2n+1){padding-right: 0px; }
     .boxBig__cont:nth-child(2n+0){padding-left: 0px; text-align: left; }
     .boxBig-block{display: block; max-width:none; min-height:inherit; padding-bottom: 70px; }
     .boxBig-button{
          position: relative;
          display: block;
          left: 0px;
          margin: 30px auto 0px auto;
          bottom: auto;
     }
     
     
     .boxLess__cont{float: none; width: 100%; }
     .boxLess-block{display: block; max-width:none; min-height:inherit; padding-bottom: 70px; }
     .boxLess-button{
          position: relative;
          display: block;
          left: 0px;
          margin: 30px auto 0px auto;
          bottom: auto;
     }  
}

@media screen and (max-width: 500px) {
    
    .logo{display: block; float: none; text-align: center; }
    
    .socialNetworks{display: block; float: none; text-align: center; margin: 35px 0px 10px 0px; }
    .socialNetworks a{float: none; }
}

/*404 page*/
.error-404.not-found p {
    text-align: center;
    font-size: 300px;
    margin-top: 100px;
    margin-bottom: 120px;
}

/*comments*/
.comments-area {
    background-color: #fff;
    /*border-top: 1px solid #eaeaea;*/
    /*border-top: 1px solid rgba(51, 51, 51, 0.1);*/
    display: block;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.comments-area > :last-child {
    margin-bottom: 0;
}

.comment-list + .comment-respond {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
    padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3333;
}

.comments-title {
    margin-bottom: 1.3333em;
}

.comment-list {
    list-style: none;
    margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 1.6em 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
}

.comment-list .children > li {
    padding-left: 0.8em;
}

.comment-author {
    color: #000000;
    margin-bottom: 0.4em;
     font-style: normal !important;
}

.comment-author a:hover {
    border-bottom: 1px solid #707070;
    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.comment-author .avatar {
    float: left;
    height: 50px;
    margin-right: 0.8em;
    width: 24px;
}

/*.bypostauthor > article .fn:after {*/
    /*content: "\f304";*/
    /*position: relative;*/
    /*top: 5px;*/
    /*left: 3px;*/
/*}*/

.fn {
}

.comment-body p{
     margin-bottom: 0px;
}


.comment-metadata,
.pingback .edit-link {
    color: #000000;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 12px;
}

.comment-metadata a,
.pingback .edit-link a {
    color: #000000;
}

.comment-metadata a{
     text-decoration: none;
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
    border-bottom: 1px solid #333;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
    color: #333;
}

.comment-metadata {
    margin-bottom: 1.6em;
}

.comment-metadata .edit-link {
    margin-left: 1em;
}

.pingback .edit-link {
    margin-left: 1em;
}

.pingback .edit-link:before {
    top: 5px;
}

.comment-content ul,
.comment-content ol {
    margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}

.comment-content > :last-child {
    margin-bottom: 0;
}

.comment-list .reply {
    /*display:none;*/
    font-size: 12px;

}

.comment-list .reply a {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #000000;
    display: inline-block;
    font-family: 'Lato-Bold', sans-serif; 
    font-weight: 700;
    line-height: 1;
    margin-top: 2em;
    padding: 0.4167em 0.8333em;
    text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
    border-color: #333;
    color: #333;
    outline: 0;
}

.comment-form {
    padding-top: 1.6em;
}

.comment-form label {
    color: #000000;
    font-family: 'Lato-Bold', sans-serif; 
    font-size: 12px;

    font-weight: 700;
    display: block;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
    width: 100%;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
    color: #000000;
    font-family: 'Lato-Bold', sans-serif !important;
    font-size: 12px;

    line-height: 1.5;
    margin-bottom: 2em;
}

.logged-in-as a:hover {
    border-bottom: 1px solid #333;
}

.no-comments {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    color: #000000;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    padding-top: 1.6em;
}

.comment-navigation + .no-comments {
    border-top: 0;
}

.form-allowed-tags code {
    font-family: Inconsolata, monospace;
}

.form-submit {
    margin-bottom: 0;
}

.form-submit input{
    height: 30px;
    border-color: transparent;
    background-color: #D7171D;
    color: white;
    font-weight: bold;
}

.required {
    color: #c0392b;
}

.comment-reply-title {
    font-family: 'Lato-Bold', sans-serif;
}

.comment-reply-title small {
    font-size: 100%;
}

.comment-reply-title small a {
    border: 0;
    float: right;
    height: 32px;
    overflow: hidden;
    width: 26px;
}

.comment-reply-title small a:before {
    content: "\f405";
    font-size: 32px;
    position: relative;
    top: -3px;
}

textarea#comment {
    width: 100%;
}

.comment-edit-link {
     font-family: 'Lato-Bold', sans-serif;
}

#reply-title {
    font-family: 'Lato-Bold', sans-serif;

}

.cancel-comment-reply-link{
     display: none;
}

.comment-meta a {
     text-transform: uppercase;
     color:black;
     font-size: 10px;
     color: #CCC;
}
.comment-list p {
     padding-left: 0;
}

/* Footer Subscribe widget------------------------ */
.footerBox .s2_form_widget .widget-title{position: relative; display: block; padding-top: 4px; margin-bottom: 0px; text-transform: uppercase; font-size: 15px; color: #f7f7f7; }
.footerBox .s2_form_widget .inputFooter{ margin-top: 0px; }
.footerBox .inputFooter .s2_message {color: #f7f7f7;}

/* Contacts------------------------ */
.clear {clear: both;}
.contacts-about,.contacts-form{ /*padding:20px;*/ display: inline-block; width:49%;vertical-align: top; /*padding-left: 60px;*/}
.contacts-about {float: left;}
.contacts-form {/*padding-right: 40px;*/ float: right; }
.contacts-form input[type="text"],.contacts-form textarea,.contacts-form input[type="email"]{ width:100% }
.contacts-form input[type="text"],.contacts-form input[type="email"]{ height:30px; }
.contacts-title { padding-top: 40px; text-align: center; }
.wpcf7-submit{
    background-color: #d7171d;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 163px;
    height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
}
.wpcf7-submit:hover{background-color: #fb3c42; }

@media screen and (max-width: 850px) {
     .contacts-about,.contacts-form{ /*padding:20px;*/ display: block; width:95%; float: left;}
     .contacts-about p, .contacts-form p {padding: 0;}
     .contacts-about h2, .contacts-form h2 {padding: 0;}
}

.logged-in-as a{
    color: #7d856e;
    text-decoration: none;
    text-decoration-color: 7d856e;
}

.eventsBlock-category a{
    text-decoration: none;
}

.eventsBlock-category a:hover{
    text-decoration: underline;
}

.comment-body p {
     padding-top: 20px !important;
}

#reply-title a {
     color: #000;
}


.relatedPost-box p {
     padding-top: 10px !important;
     padding-left: 0;
}

.footer_logo_link {
     color: #FFF;
     text-decoration: none;
     font-size: 26px;
}

.header_logo_link {
     color: #000;
     text-decoration: none;
     font-size: 36px;
}

.header_logo_text_bottom {
     font-size: 16px;
     margin-top: 16px;
     color: #999;
     font-family: 'Lora-BoldItalic', sans-serif;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


.sticky {
	
}

.gallery-caption {
	
}
/*.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}*/