/* Lato ------------------------------------------------------------------ */
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light.woff') format('woff'),
         url('../fonts/Lato-Light.ttf') format('truetype'),
         url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Black.woff') format('woff'),
         url('../fonts/Lato-Black.ttf') format('truetype'),
         url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Lora ------------------------------------------------------------------ */
@font-face {
    font-family: 'Lora-BoldItalic';
    src: url('../fonts/Lora-BoldItalic.eot');
    src: url('../fonts/Lora-BoldItalic?#iefix') format('embedded-opentype'),
         url('../fonts/Lora-BoldItalic.woff') format('woff'),
         url('../fonts/Lora-BoldItalic.ttf') format('truetype'),
         url('../fonts/Lora-BoldItalic.svg#Lora-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


