*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}


.job-manager-form fieldset label {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.job-manager-form fieldset div.field {
	float: none;
	margin: 0 auto;
}

#add-job small {
	display: none;
}

.job_filters {
	background: #FFF;
}

#page-vacancy .sort-control .nav-pills {
	margin-left: 0;
}

.search_select {
	display: none !important;
}

.search_select button {
	float: none !important;
	height: 40px !important;
}

.search-additional-active {
	display: block !important;
}

.navigation {	
	width: 100%;
	text-align: center;
	display: block;
	/*display: none;*/
}

.more-btn {
	display: none;
}

.remove-bookmark {
	color: red !important;
}

.job-manager-applications-applied-notice {
	/*color: #2ECC71;*/
}

.apply_button {
	background: #ffda45 !important;
	font-size: 14px !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: none !important;
}


.salary_search {
	margin-top: -20px;
}

.salary_checkbox {
	/*float: left;*/
	width: auto !important;
	
}

.job_filters .search_jobs div label {
	display: block;
	margin-top: 10px;
}

input[type=checkbox] {
    display: none;   
}


.salary_search label{
   margin-left: 15px;
   cursor: pointer;
} 

.salary_search label:before {
    content: "";
    position: absolute;
    margin-left: -15px;
    margin-top: 3px;
    border: 1px solid #9F9F9F;
    width: 13px;
    height: 13px;
} 

.checkbox_conditional label:before {
    content: "";
    position: absolute;
    margin-left: -15px;
    margin-top: 3px;
    border: 1px solid #9F9F9F;
    width: 13px;
    height: 13px;
    cursor: pointer;
} 

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;    
    text-align: center;
    line-height: 5px;      
    color: #222; 
    font-weight: normal;
}


.search_jobs {
	padding-top: 0 !important;
}

.job_filters .search_jobs div.filter_first, .job_filters .search_jobs div.search_keywords {
	width: 100%;
}

.job_filters .search_jobs {
	padding: 0;
}

.bookmark_font_size {
	font-size: 15px;
}


.bookmark_font_size .page-items {
	min-height: auto;
}

@media (min-width: 992px) { 
	.job_custom_filter_search {
		left: 77%;
		margin-top: -15px;
	}
}


div.job_listings .load_more_jobs {
	float: left !important;
	width: 75% !important;
    background: transparent !important;
    font-size: 15px !important;
    padding: 6px 0 !important; 
    /*border: 1px solid #ccc !important;*/
    border-bottom: none !important;
    text-decoration: none !important;
}

div.job_listings .load_more_jobs strong {
	display: block;
	width: 270px;
	border: 1px solid #ccc;
	margin: 0 auto;
	height: 35px;
	padding-top: 5px;
}

div.job_listings .load_previous {
	border: none !important;
	float: none !important;
	text-decoration: none !important;
}

/*============================================resume*/
div.resumes .load_more_resumes {
	float: left !important;
	width: 75% !important;
    background: transparent !important;
    font-size: 15px !important;
    padding: 6px 0 !important; 
    /*border: 1px solid #ccc !important;*/
    border-bottom: none !important;
    text-decoration: none !important;
}

div.resumes .load_more_resumes strong {
	display: block;
	width: 270px;
	border: 1px solid #ccc;
	margin: 0 auto;
	height: 35px;
	padding-top: 5px;
}

/*div.job_listings .load_more_jobs:hover {
	border: 1px solid #ccc !important;
}*/

/*.apply_with_resume {
	display: none;
}*/

.modal-content {
	padding: 20px;
	padding-top: 0;
}

.custom_anti_spam_input {
	margin-left: 0 !important;
	width: 100% !important;
}

.register_button {
	background-color: #FFF !important;
	box-shadow: none !important;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border: none !important;
	margin: 0 !important;
}

.registration_form .nav-pills, .registration_form .form-control, .registration_form .conditions {
	margin-bottom: 15px !important;
}

.woocommerce-error {
	margin-bottom: 0 !important;
}

.margin_form {
	margin-top: -30px;
}

.register_form_submit_button {
	display: none;
}

.btn-default {
	box-shadow: none !important;
	outline: none !important;
}

a {
	outline: none !important;
}

.bootstrap-select > .dropdown-toggle {
	width: 100% !important;
	-webkit-border-radius: 3px !important;
	        border-radius: 3px !important;
}

.role_select_wrapper {
	margin-top: -25px !important;
}


.checkbox_conditional {
	margin-top: 15px;
}

.g-recaptcha > div > div {
	margin: 0 auto;
}

.lost_password {
	text-align: center;
}

.login_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 100px;
	margin-top: -5px;
}

.login_menu ul li {
	display: inline-block;
}

.main_category_list {
	text-align: center;
}

.footer_menu_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.footer_menu_container ul li {
	margin-bottom: 10px;
}

.resume_filters {
	/*display: none;*/
}

.resume_custom_filter_search {
	padding-left: 5px !important;
}

.job_submit_input_wrapper {
	width: 100% !important;
}

.job_submit_input {
	height: 44px !important;
	padding: 10px !important;
}

.custom_job_manager_form {
	margin-top: 40px;
}

.job_submit_input_wrapper .chosen-container-single, .job_submit_input_wrapper .chosen-container-multi {
	display: none;
}

.job_submit_input_wrapper .bootstrap-select {
	width: 100% !important;
}

.job_submit_input_wrapper .bootstrap-select button {
	height: 44px !important;
}

.job_button_preview {
	background: #ffda45 !important;
	font-size: 14px !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: none !important;
	margin: 0 auto !important;
	display: block !important;
	padding: 12px 40px !important;
}

.fieldset-links {
	text-align: center;
	padding: 20px;
}

.fieldset-candidate_education {
	text-align: center;
	padding: 20px;
}

.fieldset-candidate_experience {
	text-align: center;
	padding: 20px;
}


.my_accaunt_page p {
	width: 100% !important;
}

.my_accaunt_page p input[type=text] {
	width: 100% !important;
	height: 40px !important;
}

.my_accaunt_page fieldset p input {
	width: 100% !important;
	height: 40px !important;
}

.my_accaunt_save_button {
	width: 200px !important;
	padding: 12px 40px !important;
	background: #ffda45 !important;
	font-size: 14px !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: none !important;
	margin: 0 auto !important;
	display: block !important;
}


#wpua-thumbnail-existing {
	display: none !important;
}

#wpua-preview-existing {
	display: none !important;
}

#wpua-undo-existing {
	display: none !important;
}

#wpua-upload-existing {
	display: none !important;
}

.my_accaunt_avatar_wrapper button, .my_accaunt_avatar_wrapper input {
	background: transparent !important;
	border: 1px solid #ccc !important;
}

#wpua-file-existing {
	border: none !important;
}

.avatar_inside img {
	width: auto !important;
	height: 50px !important;
    border: 1px solid #b6bec2;
    border-radius: 100%;
    display: none;
}

.avatar a img {
	width: auto !important;
	height: 50px !important;
    border: 1px solid #b6bec2;
    border-radius: 100%;
    /*display: none;*/
}

.login_menu a {
	line-height: 18px !important;
}

.single_company_logo img {
	width: 170px !important;
	margin: 0 auto !important;
	display: block;
}

.page-title {
	margin-top: 55px;
	margin-bottom: 40px;
}

/*.chosen-container-multi .chosen-choices li.search-choice {
	background: transparent !important;
}
*/
.chosen-container-multi .chosen-choices {
	/*height: 40px !important;*/
	/*padding: 20px !important;*/
	border: 1px solid #ccc !important;
	box-shadow: none !important;
	border-radius: 4px !important;
	padding: 5px !important;  
}

body .chosen-container-multi .chosen-choices li.search-choice {
	
    background: transparent !important;
    border: none !important;
}
/*
body .chosen-container {
	    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
    font-size: 16px !important;
    zoom: 1 !important;
    background: #fff !important;
    border-radius: 6px !important;
    border: 1px solid #CCC !important;
}


.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	 color: #818080;
    position: absolute;
    top: 7px;
    left: 6px;
    display: block;
    font-size: 14px;
}


.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	 content: '\2715';
}
    */

.job_filters .search_jobs div label {
	color: #B1B1B1 !important;
	margin-bottom: 5px !important;
}


label[for=salary_checkbox]  {
	/*color: #000 !important;*/
}
/*input[type="checkbox"] + label { 
 color: #000 !important;
}*/

#salary_search_id .label_checkbox {
	color: #000 !important;
}

.keywords_input {
	height: 40px !important;	
}

.contact_page_submit_button {
	background: transparent !important;
	padding: 10px 30px !important;
	box-shadow: none !important;
	font-size: 14px !important;
}

.ninja-forms-required-items {
	margin-bottom: 15px !important;
	margin-top: 10px !important;
}

.store ul {
	list-style: none;
}

.my_accaunt_avatar_wrapper {
/*	padding-left: 20px;
	margin-bottom: -30px;*/
}

.meta {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}


.category_meta_title {
	float: left;
	margin-right: 5px;
	font-weight: bold;
}

.item-title {
	margin-bottom: 10px !important;
}

.item-title a {
	font-size: 18px;
	font-weight: bold;
}

.candidate_title {
	font-size: 18px;
	font-weight: bold;
}

.candidate_single_title {
	clear: both;
	text-align: center;
}

.resume_skill {
	margin-top: 20px;
	height: 50px;
}

.resume_skill span {
	color: #A5A5A5;
	margin-right: 5px;
}

.store ul {
	margin-left: 0;
	padding-left: 0;
}

.job_logo_img {
	width: 70px;
}

.job_type_single {
	margin-bottom: 0 !important;
	margin-top: 30px;
}

.single_resume_item_right {
	padding-bottom: 20px;
}

.single_resume_time {
	margin-bottom: 35px !important;
	margin-top: 20px !important;
}

.listing_resume_city {
	margin-top: 10px;
}

.resume_foto {
	float: left;
	min-height: 150px;
}
.resume_foto .city {
	float: none !important;
}


/*.panel-default>.panel-heading {
	border: 1px solid #ddd;
	margin-bottom: 7px;
}

.panel-group .panel {
	border: none;
}*/

.resume_filters .search_resumes {
	background: #FFF;
	padding-top: 0;
	padding-left: 0;
}

.resume_filters .search_resumes div.resume-filter.filter_first, .resume_filters .search_resumes div.resume-filter.search_keywords {
	padding: 0;
	width: 100%;	
}

.resume_filters .search_resumes div.resume-filter.filter_last, .resume_filters .search_resumes div.resume-filter.search_location {
	width: 100%;	
	padding: 0;
	margin-top: 7px;
}

.logo_link {
	text-decoration: none !important;
	color: #727272 !important; 
}

.container_height {
	margin-top: 20px;
	min-height: 300px;
}

.condition_content {
	margin-top: 15px;
}

.change_password_button {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
	padding: 10px 40px !important;
	margin: 0 auto;
}

.change_password_form_row {
	width: 100% !important;
}
.change_password_form_row_2 {
	width: 100% !important;
}

/*.button_form_row {
	text-align: center !important;
}*/

.container_text_align{
	text-align: center !important;
}

.resume_filters .search_resumes div.resume-filter label {
	display: block;
	margin-top: 10px !important;
	color: #B1B1B1 !important;
}

/*.resume_filters .search_resumes div.resume-filter label:nth-of-type(1) {
	margin-top: 0 !important;
}*/

.textarea-height {
	height: 100px !important;
}

.item-content ul {
	margin-left: 0;
}

input[name=wp_job_manager_send_application] {
	background: #ffda45 !important;
	font-size: 14px !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: none !important;
	margin: 0 auto;
	display: block;
	color: #000 !important;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	text-shadow: none;
}

#wpua-remove-button-existing {
	display: none;
}

#wpua-add-existing { 
	display: none;
}

.wpua-edit-container h3 {
	display: none;
}

.choose_image_class {
	display: block !important;
}

.submit {
	text-align: center;
}

#wpua-upload-messages-existing {
	display: none;
}

#wpua-file-existing {
	visibility: hidden;
}