/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .login a{
        display: block;
    }

    .row_search .login {
        padding: 18.5px 0;
        text-align: center;
        right: 0px;
    }
    .row_search .login, .row_search .logout{
        right: 0;
    }

}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

    .navbar-default .nav li a{
        margin-right: -5px;
    }
    #footer .bottom1,
    #footer .bottom2,
    #footer .bottom3,
    #footer .bottom4,
    #footer .store{
        text-align: center;
    }
    #footer .store a:first-child img {
        margin-bottom: 0px;
    }
    .row_search .logout{
        text-align: center;
    }
    .row_search .logout a{
        display: block;
    }
    #lk .avatar{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    #lk .avatar .btn-default{
        position: relative;
        margin-top: 8px;
        left:auto;
    }
    .right-sidebar label, .right-sidebar .btn-group,  #page-vacancy .sort-control .btn-group{
        display: block;

    }
    .right-sidebar .btn-group,  #page-vacancy .sort-control .btn-group{
        height: 40px;
    }
    .right-sidebar{
        padding-left: 15px;
    }
    #right-sidebar-banner{
        display: none;
    }
    #sort-select, .right-sidebar .dropdown-toggle{
        width: 100%;
    }
    #page-vacancy .sort-control{
        height: auto;
    }
    #page-vacancy .sort-control .nav-pills{
        float: none;
        margin-right: 0;
        margin-bottom: 15px;
    }
    #page-vacancy .sort-control .nav-pills li{
        width: 50%;
    }
    .right-sidebar .control-label{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sort-control .dropdown-menu, .right-sidebar .dropdown-menu{
        width: 100%;
    }
    
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    .row_search .login {
        top:0;
    }
    .row_search .search{
        padding: 30px 15px;
    }
    .row_search .logo {
        text-align: center;
    }
    .navbar-default .nav>li:first-child>a {
        padding-left: 15px;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .dropdown-menu>li>a,.navbar-default .dropdown-menu>li>a:hover,.navbar-default .dropdown-menu>li>a:focus,.navbar-default .dropdown-submenu:hover>a, .navbar-default .dropdown-submenu:focus>a{
        background-color: #fff;
        color: #575757;
    }

    #header .navbar-default .dropdown-submenu .dropdown-menu{
        background-color: #fff;
    }

    .registration_form .nav-justified>li{
        display: table-cell;
        width: 1%;
    }
    .registration_form img{
        width: 100%;
    }

    #header .navbar-default .dropdown-submenu .dropdown-menu{
        display: block;
        padding-left: 15px;
    }
    .page-items .item-left-part,
    .page-items .item-right-part{
        width: 100%;
        padding-left: 0px;
    }
    .page-items .item-right-part .price,.page-items .item-right-part .time,.page-items .item-right-part .edit-link,.page-items .item-right-part .add-favorite,.page-items .item-right-part .delete-link{
        float: left;
        margin-top: 20px;
        margin-bottom: 0;
        width: 25%;
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .row_search .login, .row_search .logout{
        right: 40px;
    }
    .container-soiskately .page-items .item-right-part .price, .container-soiskately .page-items .item-right-part .time, .container-soiskately .page-items .item-right-part .add-favorite, .container-vacancy .page-items .item-right-part .price, .container-vacancy .page-items .item-right-part .time, .container-vacancy .page-items .item-right-part .add-favorite{
    width: 33.3%;
}

}

@media only screen and (max-width: 767px) {
    .navbar-default .nav li a {
        margin-right: 0px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .blog-item-description img{
        width: 100%;
    }
    .page-items .item-right-part .price, .page-items .item-right-part .time, .page-items .item-right-part .edit-link, .page-items .item-right-part .add-favorite, .page-items .item-right-part .delete-link, .container-soiskately .page-items .item-right-part .price, .container-soiskately .page-items .item-right-part .time, .container-soiskately .page-items .item-right-part .add-favorite,.container-vacancy .page-items .item-right-part .price, .container-vacancy .page-items .item-right-part .time, .container-vacancy .page-items .item-right-part .add-favorite{
        float: none;
        width: 100%;
    }
    
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .page-left-sidebar .col-md-9{
        padding-left: 0px;
    }
    .fix-right-sidebar{
        position: fixed;
        padding-right: 15px;
        right: 0;
        top: 230px;
        left: auto;
        width: 245px;
    }
    .fix-left-content{
        left: 0;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .container {
        width: 970px;
    }
}